body {
	animation: backgroundFade 50s ease-in-out infinite;
  }
  
  @keyframes backgroundFade {
	0% {
	  background-color: #000000;
	}
	9.09% {
	  background-color: #ffffff;
	}
	18.18% {
	  background-color: #000000;
	}
	27.27% {
	  background-color: #ffffff;
	}
	36.36% {
	  background-color: #000000;
	}
	45.45% {
	  background-color: #ffffff;
	}
	54.54% {
	  background-color: #000000;
	}
	63.63% {
	  background-color: #ffffff;
	}
	72.72% {
	  background-color: #000000;
	}
	81.81% {
	  background-color: #ffffff;
	}
	90.9% {
	  background-color: #000000;
	}
	100% {
	  background-color: #000000;
	}
  }

#hedonist {
	font-family: 'Helvetica', 'Arial', sans-serif, bold;
    font-size: 50pt;
    text-align: center;
	top: 50%;
    left: 50%;
    width: 10em;
    height: 18em;
    margin-top: -0.6em;
    margin-left: -5em;
    position: fixed;
	animation: fontFade 50s ease-in-out infinite;
}

#trademark {
	font-family: 'Helvetica', 'Arial', sans-serif, bold;
    font-size: 18pt;
    text-align: center;
	top: 50%;
    left: 50%;
    width: 10em;
    height: 18em;
    margin-top: -1.7em;
    margin-left: 1em;
    position: fixed;
	animation: fontFade 50s ease-in-out infinite;
}

@keyframes fontFade {
	0% {
	  color: #1e1e1c;
	}
	9.09% {
	  color: #1e1e1c;
	}
	18.18% {
	  color: #1e1e1c;
	}
	27.27% {
	  color: #1e1e1c;
	}
	36.36% {
	  color: #1e1e1c;
	}
	45.45% {
	  color: #1e1e1c;
	}
	54.54% {
	  color: #1e1e1c;
	}
	63.63% {
	  color: #1e1e1c;
	}
	72.72% {
	  color: #ffffff;
	}
	81.81% {
	  color: #1e1e1c;
	}
	90.9% {
	  color: #ffffff;
	}
	100% {
	  color: #1e1e1c;
	}
  }

  .container-w {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 100px;
	margin: 0 auto;
	width: 99%;
	animation: containerFade-w 50s ease-in-out infinite;
  }

  .container-b {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 100px;
	margin: 0 auto;
	width: 99%;
	animation: containerFade-b 50s ease-in-out infinite;
  }
  
  #links {
	height: 50px;
	width: 50px;
	margin: 0px 50px;
	
  }
  
  @media (max-width: 600px) {
	.container-w {
	  flex-wrap: wrap;
	  bottom: 100px;
	  width: 98%;
	}

	.container-b {
		flex-wrap: wrap;
		bottom: 100px;
		width: 98%;
	  }	
	
	#links {
	height: 30px;
	width: 30px;
	margin: 20px;
	}

	#hedonist {
		font-size: 100pt;
	}

	#trademark {
		font-size: 50pt;
	}
  }

  #h-hedonist-w {
	top: 50%;
    left: 50%;
    width: 174px;
    height: 181px;
    margin-top: -6em;
    margin-left: -5em;
    position: fixed;
	animation: pngFade-1 50s ease-in-out infinite;
}

#h-hedonist-b {
	top: 50%;
    left: 50%;
    width: 174px;
    height: 181px;
    margin-top: -6em;
    margin-left: -5em;
    position: fixed;
	animation: pngFade-2 50s ease-in-out infinite;
}

#hedonist-w {
	top: 50%;
    left: 50%;
    width: 296px;
    height: 62px;
    margin-top: -2em;
    margin-left: -9em;
    position: fixed;
	animation: pngFade-3 50s ease-in-out infinite;
}

#hedonist-b {
	top: 50%;
    left: 50%;
    width: 296px;
    height: 62px;
    margin-top: -2em;
    margin-left: -9em;
    position: fixed;
	animation: pngFade-4 50s ease-in-out infinite;
}

@keyframes pngFade-1 {
	0% {
	  opacity: 100%;
	}
	9.09% {
	  opacity: 0%;
	}
	18.18% {
	  opacity: 0%;
	}
	27.27% {
	  opacity: 0%;
	}
	36.36% {
	  opacity: 100%;
	}
	45.45% {
	  opacity: 0%;
	}
	54.54% {
	  opacity: 0%;
	}
	63.63% {
	  opacity: 0%;
	}
	72.72% {
	  opacity: 100%;
	}
	81.81% {
	  opacity: 0%;
	}
	90.9% {
	  opacity: 0%;
	}
	100% {
	  opacity: 100%;
	}
  }

  @keyframes pngFade-2 {
	0% {
	  opacity: 0%;
	}
	9.09% {
	  opacity: 100%;
	}
	18.18% {
	  opacity: 0%;
	}
	27.27% {
	  opacity: 0%;
	}
	36.36% {
	  opacity: 0%;
	}
	45.45% {
	  opacity: 100%;
	}
	54.54% {
	  opacity: 0%;
	}
	63.63% {
	  opacity: 0%;
	}
	72.72% {
	  opacity: 0%;
	}
	81.81% {
	  opacity: 100%;
	}
	90.9% {
	  opacity: 0%;
	}
	100% {
	  opacity: 0%;
	}
  }

  @keyframes pngFade-3 {
	0% {
	  opacity: 0%;
	}
	9.09% {
	  opacity: 0%;
	}
	18.18% {
	  opacity: 100%;
	}
	27.27% {
	  opacity: 0%;
	}
	36.36% {
	  opacity: 0%;
	}
	45.45% {
	  opacity: 0%;
	}
	54.54% {
	  opacity: 100%;
	}
	63.63% {
	  opacity: 0%;
	}
	72.72% {
	  opacity: 0%;
	}
	81.81% {
	  opacity: 0%;
	}
	90.9% {
	  opacity: 100%;
	}
	100% {
	  opacity: 0%;
	}
  }

  @keyframes pngFade-4 {
	0% {
	  opacity: 0%;
	}
	9.09% {
	  opacity: 0%;
	}
	18.18% {
	  opacity: 0%;
	}
	27.27% {
	  opacity: 100%;
	}
	36.36% {
	  opacity: 0%;
	}
	45.45% {
	  opacity: 0%;
	}
	54.54% {
	  opacity: 0%;
	}
	63.63% {
	  opacity: 100%;
	}
	72.72% {
	  opacity: 0%;
	}
	81.81% {
	  opacity: 0%;
	}
	90.9% {
	  opacity: 0%;
	}
	100% {
	  opacity: 0%;
	}
  }

  @keyframes containerFade-w {
	0% {
	  opacity: 100%;
	}
	9.09% {
	  opacity: 0%;
	}
	18.18% {
	  opacity: 100%;
	}
	27.27% {
	  opacity: 0%;
	}
	36.36% {
	  opacity: 100%;
	}
	45.45% {
	  opacity: 0%;
	}
	54.54% {
	  opacity: 100%;
	}
	63.63% {
	  opacity: 0%;
	}
	72.72% {
	  opacity: 100%;
	}
	81.81% {
	  opacity: 0%;
	}
	90.9% {
	  opacity: 100%;
	}
	100% {
	  opacity: 100%;
	}
  }

  @keyframes containerFade-b {
	0% {
	  opacity: 0%;
	}
	9.09% {
	  opacity: 100%;
	}
	18.18% {
	  opacity: 0%;
	}
	27.27% {
	  opacity: 100%;
	}
	36.36% {
	  opacity: 0%;
	}
	45.45% {
	  opacity: 100%;
	}
	54.54% {
	  opacity: 0%;
	}
	63.63% {
	  opacity: 100%;
	}
	72.72% {
	  opacity: 0%;
	}
	81.81% {
	  opacity: 100%;
	}
	90.9% {
	  opacity: 0%;
	}
	100% {
	  opacity: 0%;
	}
  }